@model Yummy.Areas.Admin.ViewModels.Login

@{
    ViewData["Title"] = "Login";
    Layout = "_Layout1";
}



<div class="logo_login">
    <div class="center">
        <img width="210" src="~/images/logo/logo.png" alt="#" />
    </div>
</div>

<div class="login_form">
    <h1 style="text-align:center;color:#050726d1;">Sign in to Admin</h1>

    <form asp-action="Login" class="row g-3">
        <fieldset>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="field">
                <label asp-for="UserName" class="label_field"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="field">
                <label asp-for="Password" class="label_field"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

           
            <div class="field text-center">
                <button class="main_bt">Login</button>
            </div>

        </fieldset>
    </form>


</div>
